<header>
  <div class="fondo">
      <div class="capa-gradiente"></div>
      <div class="cabeza">
          <div><img class="logo" src="./assets/Logo1.png" alt="Logotipo"></div>
          <nav id="navegador">
              <ul>
                  <li><a class="active" href="#">Inicio</a></li>
                  <li><a href="Pedido/store.html">Menu</a></li>
                  <li><a href="Servicios/Servicios.html">Servicios</a></li>
                  <li><a href="Contacto/Contactos.html">Contactos</a></li>
                  <li><a href="About/About.html">Acerca de</a></li>
                  <li><a href="Galeria/Galeria.html">Galeria</a></li>
              </ul>
          </nav>
          <div class="menu-toggle"><i class="fa fa-bars"></i></div>
      </div>
      <div class="centro">
          <h1>Bienvenidos a Fast Food</h1>
          <p>Contamos con un menu variado desponible para todos apetitos, llevamos sus pedidos hasta la puerta
              de
              su casa.</p>
          <div class="FlexBotones">
              <a href="#" class="btn">INICIAR SESION</a>
          </div>
      </div>
  </div>
</header>

<main>
  <div class="main">
      <div class="Fondo1">
          <div class="contenido">
              <div class="item">
                  <img src="./assets/Imagenes/ilustracion.jpg" alt="Uno" class="item-img">
                  <div class="item-text">
                      <h3>Nuestro Menu</h3>
                  </div>
              </div>
              <div class="item">
                  <img src="./assets/Imagenes/3697355.jpg" alt="Dos" class="item-img">
                  <div class="item-text">
                      <h3>Nuestro Servicio</h3>
                  </div>
              </div>
              <div class="item">
                  <img src="./assets/Imagenes/3802305.jpg" alt="Tres" class="item-img">
                  <div class="item-text">
                      <h3>Nuestros Clientes</h3>
                  </div>
              </div>
          </div>
      </div>
      <div class="Fondo2">
          <div class="Contenedor2">
              <img class="Img2 animation" src="./assets/Imagenes/Fod2.jpg" alt="Comidas">
              <div class="Texto2">
                  <h1>El Menu</h1>
                  <p>Nuestro menu con una variedad de comidas que deleita el buen gusto de todos nuestros
                      clientes.
                      <br>Con las especialidades de la casa Pizzas y Hamburguesas</p>
              </div>
              <img class="Img22 animation" src="./assets/Imagenes/Fod2.jpg" alt="Comidas">
          </div>
      </div>

      <div class="Fondo3">
          <div class="Contenedor3">
              <img class="Img3 animation" src="./assets/Imagenes/Repatidores.jpg" alt="Servicios">
              <div class="Texto3">
                  <h1>El Servicio</h1>
                  <p>El Servicio a la disposicion del cliente. <br>Con los mejores chefs que cumplen con toda
                      medida de seguridad en esta pandemia, y el servicio delivery que lleva el pedido hasta su
                      casa.</p>
              </div>
              <img class="Img33 animation" src="./assets/Imagenes/shef.jpg" alt="Servicios">
          </div>
      </div>
  </div>
</main>

<div class="Animado">
  <div class="Cajon">
      <img src="./assets/Imagenes/repartidor.jpg" alt="imagen" class="rep">
  </div>
  <div class="Caja">
      <img src="./assets/Imagenes/map.jpg" alt="imagen" class="map">
      <div class="Txt">
          <h3>Llevamos el pedido hasta su ubicacion</h3>
      </div>
  </div>
  <div class="Cajas"></div>
</div>

<div id="Subir">
  <i class="fas fa-chevron-up"></i>
</div>

<footer>
  <div class="Fondo4">
      <div class="ImgRedes">
          <img src="./assets/Imagenes/facebok.jpg" alt="Redes">
          <h3>Alejandro Mollo</h3>
          <img src="./assets/Imagenes/whatsap.jpg" alt="Redes">
          <h3>+591 75992711</h3>
          <img src="./assets/Imagenes/instagram.jpg" alt="Redes">
          <h3>@al3_junior</h3>
      </div>
  </div>
  <div class="Fondo5">
  </div>
</footer>